.columns-2.sohc {
	margin-right: 360px;
}
.columns-2.sohc #postbox-container-1 {
	float: right;
	width: 340px;
	margin-right: -360px;
}
.columns-2.sohc #postbox-container-2 {
	width: 100%;
}

.columns-2.sohc.full-width {
	margin-right: 100px;
}
.columns-2.sohc.full-width #postbox-container-1 {
	width: 80px;
	margin-right: -100px;
}
.columns-2.sohc .postbox-container .postbox .hndle {
	cursor: default; 	
}
.columns-2.sohc.full-width #postbox-container-1 .stuffbox {
	display: none;
}
.columns-2.sohc.full-width #postbox-container-1 .donated_message {
	display: none;
}



.columns-2.sohc .sohc_list_table {
	display: none;
}
.columns-2.sohc .sohc_list_table#administrator_lists {
	display: block;
}
.columns-2.sohc .sohc_list_table tbody tr.parent_screen th {
	background: #f9f9f9;
	color: #777;
}
.columns-2.sohc .sohc_list_table tbody tr td label {
	display: inline-block;
}



.sohc .toggle-width {
	margin-bottom: 20px;
}
.sohc .toggle-width .collapse-sidebar {
	left: 0;
	z-index: 50;
	display: block;
	width: 19px;
	height: 19px;
	padding: 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #777;
	text-decoration: none;
	border: 0 none;
	position: relative;
}
.sohc .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	position: static;
	margin-top: 0;
	margin-left: 0;
	display: block;
	width: auto;
	height: auto;
	background: 0 0;
}
.sohc .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	float: left;
	content: "\f148";
	background: #eee;
	font: 400 20px/1 dashicons;
	speak: none;
	display: block;
	padding: 0;
	text-indent: 0;
	text-align: center;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
	transform: rotate(180deg);
}
.columns-2.sohc.full-width .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	transform: rotate(0deg);
}
.columns-2.sohc .toggle-width .collapse-sidebar .collapse-sidebar-label {
	position: absolute;
	left: 100%;
	line-height: 20px;
	margin-left: 10px;
}
