.columns-2.sohc .sohc_list_table tbody tr.parent_screen th {
	background: #fff;
	color: #777;
}
.columns-2.sohc .sohc_list_table tbody tr td label {
	display: inline-block;
}



.sohc .toggle-width .collapse-sidebar {
	width: 19px;
	height: 19px;
	z-index: 50;
	border-radius: 50%;
	position: relative;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
}
.sohc .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	position: absolute;
	margin-top: 2px;
	margin-left: 2px;
	display: block;
	width: 15px;
	height: 15px;
	background: transparent url('../../../wp-admin/images/arrows.png') no-repeat;
	left: 0;
}
.columns-2.sohc .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	background-position: -1px -109px;
}
.columns-2.sohc.full-width .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	background-position: -1px -73px;
}
.columns-2.sohc .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	border-radius: none;
	float: none;
	content: none;
	font: san-serif;
}
.columns-2.sohc.full-width .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	transform: inherit;
}
.columns-2.sohc .toggle-width .collapse-sidebar .collapse-sidebar-label {
	position: absolute;
	left: 100%;
	color: #808080;
	line-height: 20px;
	margin-left: 10px;
}
